@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --animate-duration: 2s;
}
@layer utilities {
  .bg-1 {
    background-image: url("../assets/images/backgrounds/bg-1.png");
  }
  .bg-2 {
    background-image: url("../assets/images/backgrounds/bg-2.png");
  }
  .bg-3 {
    background-image: url("../assets/images/backgrounds/bg-3.png");
  }
  .bg-4 {
    background-image: url("../assets/images/backgrounds/bg-4.png");
  }
  .bg-5 {
    background-image: url("../assets/images/backgrounds/bg-5.png");
  }
  .bg-6 {
    background-image: url("../assets/images/backgrounds/bg-6.png");
  }
  .footer-bg {
    background-image: url("../assets/images/backgrounds/footer.svg");
  }
  .service-container {
    min-height: calc(100vh - theme("spacing.20"));
  }
  .text-bg {
    background: linear-gradient(
      90deg,
      rgba(248, 248, 248, 0.8) 0%,
      rgba(248, 248, 248, 0) 100%
    );
  }
}
